<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CF3EB5CE-3F95-4BC8-BE0D-99D918E0FAA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F0E98578-FBC2-4BD0-9A6B-27DBACFA3F22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF3EB5CE-3F95-4BC8-BE0D-99D918E0FAA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pavel Miroshnichenko</string>
	<key>description</key>
	<string>Script uses a part of your RAM to create a new volume shown as an ordinary drive that can be mounted and used independently in your Finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RAM drive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>volSize=$(echo {query} |awk '{print $1}')
fsType=$(echo {query} |awk '{print $2,$3,$4,$5}')
/usr/bin/python createVolume.py --volumeSize "${volSize}" --filesystemType "${fsType}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF3EB5CE-3F95-4BC8-BE0D-99D918E0FAA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ram</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python listFS.py {query}
</string>
				<key>subtext</key>
				<string>Input: 1048576, 100m, 1G, etc..</string>
				<key>title</key>
				<string>Make RAM drive</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F0E98578-FBC2-4BD0-9A6B-27DBACFA3F22</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>/Volumes/{query}</string>
				<key>title</key>
				<string>RAM drive has been successfully created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D61A6993-6D0E-4785-9B18-DD5F3C82055A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/facetheheat</string>
	<key>uidata</key>
	<dict>
		<key>CF3EB5CE-3F95-4BC8-BE0D-99D918E0FAA6</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>D61A6993-6D0E-4785-9B18-DD5F3C82055A</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>F0E98578-FBC2-4BD0-9A6B-27DBACFA3F22</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/facetheheat</string>
</dict>
</plist>
